body {
	background-image: url("../images/bg.jpg");
}
.calendar {
	margin: auto;
	margin-top: 50px;
	width: 980px;
}
.calendar .row > div,
.calendar .head > div {
    float: left;
    height: 100%;
    width:  12.28%; /* 100% / 7 */
    width: -moz-calc(100%/7-7%);
    width: -webkit-calc(100%/7-7%);
    width: calc(100%/7-7%);
    position: relative;
    margin-left: 1%;
}

.title-info {
    font-size: 22px;
}
h2 { margin-bottom: 40px; text-align: center;}
.well {
	padding: 8px;
	font-size: 12.5px;
	padding-top: 0px;
}
.navigation {
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}
.selected {
	background-color: #bbb;
}
#month-mode, #week-mode {
	text-align: center;
	color: white;
	cursor: pointer;
}
.addNote {
	cursor: pointer;
}
.note-input {
	width: 100%;
	margin-bottom: 5px;
}
.deleteMessage, .editMessage {
	cursor: pointer;
}
